body{
  font-family: sans-serif;
  font-size:110%;
  background-color: #bccfc9;
  display: flex;
  flex-direction: column;
  border: 15px solid;border-color: rgba(0, 0, 0, 0.534);
}

header {
  text-align: center;
  background-color: rgb(52, 130, 150);
  justify-content: center;
  font-size: 25px;
}

#profilePhoto {
  width: 15%;
  height: 15%;
  border-radius: 50%;
  border: 3px solid #d1603d;
}

.main{display: flex;
  flex-direction: row;
  overflow: unset;}


.listing{padding: 0; 
  list-style: none;

}
footer{
  background-color: #343330;
  text-align: center;
}

#sidebar {background-color: rgba(35, 134, 117, 0.473);
width: 200px; padding: 1rem; list-style:none;}

#contents {padding: 1rem;
}


