body{
  font-family: sans-serif;
  font-size:110%;
  background-color: #FCF7F8;
}

header {
  text-align: center;
  background-color: aqua ;
}

footer {
  background-color: #343330;
  text-align: center;
}

#sidebar {background-color: lightgray;
width: 200px;}
